.popup__window {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0009;
  z-index: 999;
}

.popup__window::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #0004;
}

.popup__content {
  display: flex;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #f0f0f0;
  width: 700px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.popup__content_slider::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 60px;
  background-image: url("../images/icons/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 250px;
  height: 40px;
}

.popup__content_slider::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  background-color: #3641;
}

.popup__content_img-slide {
  overflow: hidden;
}

.popup__content_slider {
  width: 400px;
  position: relative;
  top: 58px;
  left: 5px;
}
.popup__content_slider img {
  width: 400px;
  height: 230px;
  object-fit: cover;
  object-position: center;
  padding: 5px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.popup__content_slider .slick-track {
  display: flex;
  align-items: flex-start;
}

.popup__content_form {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.popup__content_form input {
  border: 1px solid #0002;
  padding: 13px;
  width: 250px;
  margin-bottom: 10px;
}
.popup__content_form textarea {
  border: 1px solid #0002;
  padding: 15px;
  width: 250px;
  height: 100px;
  resize: none;
}
.popup__content_form input, .popup__content_form textarea {
  background-color: #fff;
}
.popup__content_form input:focus,
.popup__content_form textarea:focus {
  box-shadow: 2px -2px 4px #0005;
}
.popup__content_form input::-webkit-input-placeholder,
.popup__content_form textarea::-webkit-input-placeholder {
  color: #0009;
  font-weight: 300;
}
.popup__content_form input::-moz-placeholder,
.popup__content_form textarea::-moz-placeholder {
  color: #0009;
  font-weight: 300;
}
.popup__content_form input:focus::-webkit-input-placeholder,
.popup__content_form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}
.popup__content_form input:focus::-moz-placeholder,
.popup__content_form textarea:focus::-moz-placeholder {
  color: transparent;
}

.popup__content_form-btn {
  display: block;
  position: relative;
  background-color: #07b569;
  padding: 25px 125px;
  margin-top: 10px;
  overflow: hidden;
}
.popup__content_form-btn span {
  position: absolute;
  top: 14%;
  right: 0;
  color: #fff;
  line-height: 40px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  width: 100%;
}

.popup__content_form-btn::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.popup__close {
  z-index: 999;
  position: absolute;
  top: -15px;
  right: -12px;
  color: #0009;
  text-align: center;
  padding: 2px 5px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 24px;
  font-weight: 300;
  cursor: pointer;
}

.popup__close:hover {
  background-color: red;
  color: #fff;
}